<ion-content>
	<ion-buttons class="icon-back" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only"  name="arrow-back" class="icon-back"></ion-icon>
      </ion-button>
    </ion-buttons>
	<div class="content-img">
		<img src="assets/logo_blanco.svg">
		<h2>Recuperar contraseña</h2>
	</div>
	<br><br>
	<form [formGroup]="registerUserForm" class="padding-space">
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.codigo}">
			<ion-input type="text" formControlName="codigo" placeholder="Código de Verificación" (keydown.space)="$event.preventDefault();"></ion-input>
		</ion-item>
		<ion-button expand="block" color="secondary" class="ion-text-capitalize btn-init btn-register" (click)="codePassword()">
		Verificar</ion-button>
		<br>
		<ion-button expand="block" color="secondary" class="ion-text-capitalize btn-init btn-register" (click)="solicitar()">
		Solicitar Nuevo Código</ion-button>
	</form>
</ion-content>