<ion-content>
	<ion-slides pager="true" [options]="slideOpts">
	    <ion-slide class="slide-1">
	    	<p class="text-omit" (click)="btn_ommit()">Omitir</p>
	    	<div class="content-text ion-text-center ion-padding">
	    		<img src="assets/icon/Pantalla1.svg" class="img1">
	    	
	    		<h2 class="title1">Ofrece tus servicios en línea</h2>
		    	<p class="info-page1">Gana clientes de manera fácil y sencilla, ofreciendo tus servicios en la red y haz crecer tu negocio</p>
	    	</div> 
	    	<img src="assets/icon/blue-right-arrow.svg" class="btn-rgt1" (click)="nextSlide()"> 	
	    </ion-slide>
	    <ion-slide class="slide-2">
	    	<p class="text-omit2">Omitir</p>
	    	<div class="content-text ion-text-center ion-padding">
	    		<img src="assets/icon/Pantalla2.svg" class="img1">
	    		<h2 class="title2">Certifica tus servicios</h2>
		    	<p class="info-page2">Para empezar, nuestro equipo certifica previamente tu perfil y servicios antes de ser publicados</p>
	    	</div> 
	    	<img src="assets/icon/white-left-arrow.svg" class="btn-lft1" (click)="prevSlide()"> 
	    	<img src="assets/icon/white-right-arrow.svg" class="btn-rgt1" (click)="nextSlide()"> 	
	    </ion-slide>
	    <ion-slide class="slide-3">
	    	<p class="text-omit">Omitir</p>
	    	<div class="content-text ion-text-center ion-padding">
	    		<img src="assets/icon/Pantalla3.svg" class="img1">
	    	
	    		<h2 class="title1">Aprobado! Crea y actualiza tu perfil</h2>
		    	<p class="info-page1">Agrega los servicios que quieras, publica tu experiencia y disponibilidad, y compite con otros proveedores en tu categoría</p>
	    	</div> 
	    	<img src="assets/icon/blue-left-arrow.svg" class="btn-lft1" (click)="prevSlide()"> 
	    	<img src="assets/icon/blue-right-arrow.svg" class="btn-rgt1" (click)="nextSlide()"> 	
	    </ion-slide>
	    <ion-slide class="slide-2">
	    	<p class="text-omit2">Omitir</p>
	    	<div class="content-text ion-text-center ion-padding">
	    		<img src="assets/icon/Pantalla4.svg" class="img1">
	    		<h2 class="title2">Recibe y actualiza solicitudes desde tu móvil</h2>
		    	<p class="info-page2">Gestiona las solicitudes con tus clientes y mantenlos actualizados del estado de sus solicitudes en tiempo real</p>
	    	</div> 
	    	<img src="assets/icon/white-left-arrow.svg" class="btn-lft1" (click)="prevSlide()"> 
	    	<img src="assets/icon/white-right-arrow.svg" class="btn-rgt1" (click)="nextSlide()"> 	
	    </ion-slide>
	    <ion-slide class="slide-5">
	    	<p class="text-omit">Omitir</p>
	    	<div class="content-text ion-text-center ion-padding">
	    		<img src="assets/icon/Pantalla5.svg" class="img1">
	    	
	    		<h2 class="title1">Obtén buenas calificaciones</h2>
		    	<p class="info-page1">Recuerda que los clientes satisfechos harán llegar nuevos clientes, gana buena reputación y asegura tus ventas</p>
	    	</div> 
	    	<img src="assets/icon/blue-left-arrow.svg" class="btn-lft1" (click)="prevSlide()"> 
	    	<div class="img-ok" (click)="btn_ommit()">
	    		OK
	    	</div>	
	    </ion-slide>
	</ion-slides>
</ion-content>
