.btn-close{
	--background: transparent;
    color: #808080;
    font-size: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.content-firm{
	padding: 60px 0px;
}
.title{
	font-family: "Muli-Regular";
    font-size: 14px;
    color: #4D4D4D;
    text-align: center;
}
.content-pad {
	background-color: #f6fbff;
}