<ion-content [fullscreen]="true">
	<ion-buttons class="icon-back" (click)="goBack()" style="margin-top: 50px;">
      <ion-button style="width: auto;padding-left: 10px;">
        <ion-icon slot="icon-only"  name="arrow-back"></ion-icon> <h2>Foto de Perfil</h2>
      </ion-button>
    </ion-buttons>
	<div class="content-text">

		<p>Necesitamos una foto frontal para tu perfil profesional! recuerda que ésta será tu carta de presentación con tus próximos clientes. Por ello, trata cumplir las siguientes recomendaciones:</p>
		<p>· Fondo unicolor, preferiblemente blanco</p>
		<p style="margin-top: 5px;">· Busca buena visibilidad e iluminación</p>
	</div>

  <ion-grid class="img-camera">
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="content-img">
        	<img src="assets/profile-general.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" color="secondary" class="ion-text-capitalize btn-init btn-register" (click)="takePicture()">Seleccionar imagen de galería</ion-button>
</ion-content>
