<ion-header>
  <ion-toolbar color="secondary" mode="md">
  	<ion-buttons slot="start" class="icon-back" default-href="tabs">
	   <ion-back-button text="" name="arrow-back" mode="md">
        </ion-back-button>
	</ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">
      Editar Servicio
    </ion-title>
    <ion-buttons slot="end" class="icon-notify">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-dropup" class="custom-notify"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="content-profile">
		<div class="content-img" (click)="presentActionSheet('1')">
			<img src="{{image_user}}">
			<ion-icon name="camera"></ion-icon>
		</div>	
	</div>
	<form [formGroup]="registerServiceForm" class="content-div">
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.categoria_id}">
			<ion-label slot="start" class="label-select" [hidden]="registerServiceForm.value.categoria_id != ''">Seleccione una categoría</ion-label>
			<ion-select formControlName="categoria_id" class="select-input" cancelText="Cancelar" [interfaceOptions]="customActionSheetOptions1" interface="action-sheet">
			  <ion-select-option [value]="item.id" *ngFor="let item of categories">{{item.nombre}}</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.subcategoria_id}">
			<ion-label slot="start" class="label-select" [hidden]="registerServiceForm.value.subcategoria_id != ''">Seleccione una sub categoría</ion-label>
			<ion-select formControlName="subcategoria_id" class="select-input" cancelText="Cancelar" [interfaceOptions]="customActionSheetOptions2" interface="action-sheet">
			  <ion-select-option [value]="item.id" *ngFor="let item of subcategories">{{item.nombre}}</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.nombre}">
			<ion-input type="text" formControlName="nombre" placeholder="Nombre del servicio" class="input-info"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.descripcion}">
			<ion-textarea placeholder="Descripción del servicio" formControlName="descripcion" class="area-info" rows="4" cols="20" class="area-info"></ion-textarea>
		</ion-item>

		<!--ion-list-header no-padding>
	      	<ion-label class="text-slide" style="margin: 5% 0% 3%;text-align: left;">
	      		<span>Seleccione las zonas en la que quiere ofrecer su servicio</span>
	  		</ion-label>
	    </ion-list-header>
	    <ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.zona}" [ngStyle]="zones.length == 0 && {'margin-bottom': '20px'}">
			<ion-label slot="start" class="label-select" [hidden]="registerServiceForm.value.ciudad != ''">Seleccione una ciudad</ion-label>
			<ion-select formControlName="ciudad" mode="md" class="select-input" cancelText="Cancelar" interface="action-sheet">
			  <ion-select-option [value]="item" *ngFor="let item of cities">{{item.nombre}}</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.zona}" [ngStyle]="zones.length == 0 && {'margin-bottom': '20px'}" (click)="selectZone()">
			<ion-label slot="start" class="label-select" [hidden]="registerServiceForm.value.zona != ''">Seleccione las zonas</ion-label>
			<ion-select formControlName="zona" mode="md" class="select-input" cancelText="Cancelar" interface="action-sheet" multiple="true" disabled>
			  <ion-select-option (ionSelect)="allClickedCategories()">Seleccionar/Deseleccionar Todos</ion-select-option>
			  <ion-select-option [value]="item" *ngFor="let item of zones">{{item.nombre}}</ion-select-option>
			</ion-select>
		</ion-item>
		<div class="content-chip" *ngIf="selecZones.length > 0">
			<div class="chip-item" *ngFor="let item of selecZones">
				<p>{{item.nombre}}</p>
				<ion-icon name="close" (click)="deleteLanguage(item)"></ion-icon>
			</div>
		</div-->

		<ion-grid class="grid-item">
		  <ion-row>
		    <ion-col size="6" class="col-item" *ngFor="let img of images_upload">
		        <div class="content-img" #square [ngStyle]="{'height.px': square.offsetWidth - (square.offsetWidth*0.15)}">
		          <ion-icon name="close-circle" class="icon-delete" (click)="presentConfirmDelete(img)"></ion-icon>
		          <img src="{{img.url}}" (click)="presentConfirmDelete(img)">
		        </div>
		    </ion-col>
		    <ion-col size="6" class="col-item" *ngIf="images_upload.length < 10">
		        <div class="content-img" #square [ngStyle]="{'height.px': square.offsetWidth - (square.offsetWidth*0.15)}">
		          <img src="assets/imagen-servicio.png" (click)="presentActionSheet('2')">
		        </div>
		    </ion-col>
		  </ion-row>
		</ion-grid>

		<ion-button expand="block" color="secondary" class="ion-text-capitalize btn-init btn-register" (click)="register()">
		Guardar cambios</ion-button>
	</form>
</ion-content>