<ion-content>
	<ion-buttons class="btn-back" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back" class="icon-back"></ion-icon>
      </ion-button>
    </ion-buttons>
	<div class="content-img">
		<img src="assets/logo_blanco.svg">
		<h2>Registro</h2>
	</div>
	<form [formGroup]="registerUserForm" class="padding-space">
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.nombre}">
			<ion-input type="text" formControlName="nombre" class="ion-text-capitalize" placeholder="Nombre"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.email}">
			<ion-input type="email" formControlName="email" placeholder="Correo electrónico" (keydown.space)="$event.preventDefault();"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.zona}">
			<ion-input type="text" formControlName="zona" placeholder="Seleccione la zona a la que pertenece" readonly (click)="selectZone()"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.telefono}">
			<ion-select formControlName="code" mode="md" cancelText="Cancelar" class="select-input">
			  	<ion-select-option *ngFor="let item of codes" [value]="item.value">{{item.codigo}}</ion-select-option>
			</ion-select>
			<ion-input type="tel" formControlName="telefono" placeholder="Teléfono"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.password}">
			<ion-input [type]="password_type1" formControlName="password" placeholder="Contraseña"></ion-input>
			<ion-icon slot="end" name="eye-off" class="icon-eye" *ngIf="password_type1 == 'password'" (click)="togglePasswordMode1()"></ion-icon>
			<ion-icon slot="end" name="eye" class="icon-eye" *ngIf="password_type1 == 'text'" (click)="togglePasswordMode1()"></ion-icon>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.rpassword}">
			<ion-input [type]="password_type2" formControlName="rpassword" placeholder="Confirmar Contraseña"></ion-input>
			<ion-icon slot="end" name="eye-off" class="icon-eye" *ngIf="password_type2 == 'password'" (click)="togglePasswordMode2()"></ion-icon>
			<ion-icon slot="end" name="eye" class="icon-eye" *ngIf="password_type2 == 'text'" (click)="togglePasswordMode2()"></ion-icon>
		</ion-item>
		<ion-button expand="block" color="secondary" class="ion-text-capitalize btn-init btn-register" (click)="verifyNumber()">
		Registrarse</ion-button>
		<p class="ion-text-center link-login" (click)="login()">Iniciar Sesión</p>
	</form>
</ion-content>
