ion-content{
	--background: var(--ion-color-secondary);
}
.content-img{
	text-align: center;
	img{
		height: 110px;
	    display: block;
	    margin: auto;
	}
	h2{
		margin: 0px;
		font-family: 'Montserrat-Bold';
		font-size: 20px;
	}
}
.item-input{
	--border-radius: 3px;
	color: #4D4D4D;
	margin-bottom: 15px;
}
.danger{
	border: 2px solid #B71C1C;
	border-radius: 3px;
}
.sc-ion-input-md-h, .sc-ion-input-ios-h{
	font-family: "Muli-Regular";
    font-size: 15px;
}
.btn-register{
	--box-shadow: 0 3px 1px -2px rgba(255,255,255,0.2),0 2px 2px 0 rgba(255,255,2555,0.14),0 1px 5px 0 rgba(255,255,255,0.12) !important;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.20);
    border-style: solid;
    border-radius: 3px;
}
.link-login{
	margin-top: 40px;
	font-family: 'Montserrat-Bold';
}
.icon-eye{
	color: var(--ion-color-secondary);
	z-index: 999;
	font-size: 22px;
}
.btn-back{
 	position: absolute;
    top: 20px;
    left: 10px;
    z-index: 9999;
}
.icon-back{
  color: #ffffff;
}
ion-select{
	padding: 0px;
    font-family: "Muli-Regular";
    font-size: 15px;
    margin-right: 10px;
}
